<template>
    <div>

        <div class="container">
            <div class="notification">

                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <div class="tile is-child box">


                            <div class="columns">
                                <div class="column">
                                    <b-field label="Cantidad" :type="validC?'is-danger':''"
                                             :message="validC?'Ingrese cantidad':''">
                                        <b-input :disabled="disabled" v-model="cantidad"></b-input>
                                    </b-field>
                                </div>
                                <div class="column">
                                    <b-field label="Tipo de temporizador" :type="validS?'is-danger':''"
                                             :message="validS?'ISeleccione una opcion':''">
                                        <b-select v-model="type" :disabled="disabled" name="time" placeholder="Seleccionar">
                                            <option value="1">Horas</option>
                                            <option value="2">Minutos</option>
                                        </b-select>
                                    </b-field>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tile is-4 is-vertical is-parent">
                        <div class="tile is-child box">
                            <div class="columns">
                                <div class="column">
                                    <button :disabled="disabled" class="button is-success  is-large" @click="_setInterval">Iniciar
                                    </button>
                                </div>
                                <div class="column">
                                    <button  class="button is-danger  is-large" @click="_restart">Reinicar
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="backCol">
            <nav class="level" >
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Tiempo restante</p>
                        <p id="time" class="title">{{ countdown }}</p>
                    </div>
                </div>

            </nav>
        </div>

    </div>
</template>

<script>
    var moment = require('moment');
    export default {
        name: 'CountDown',
        props: {
            seconds: 480
        },
        data () {
            return {
                cantidad:'',
                type:'',
                countdown: null,
                expires_in: 480,
                interval: null,
                disabled:false,
                validS:false,
                validC:false
            }
        },
        mounted () {
            //  this.countdown = moment(new Date()).local().format('HH:mm:ss')
            //  this.expires_in = this.seconds;
            //   this._setInterval();
        },
        destroyed () {
            clearInterval(this.interval);
        },
        methods: {
            _setInterval: function() {

                if(this.cantidad==''){
                    this.validC = true;

                    this.$toast.open({
                        duration: 1000,
                        message: `Ingrese cantidad`,
                        position: 'is-bottom',
                        type: 'is-danger'
                    })

                }else {
                    this.validC = false;
                    if (this.type == '') {
                        this.validS = true;
                        this.$toast.open({
                            duration: 1000,
                            message: `Seleccione temporizador`,
                            position: 'is-bottom',
                            type: 'is-danger'
                        })
                    } else {
                        this.validS = false;
                        this.$toast.open({
                            duration: 5000,
                            message: `Cuenta regresiva iniciada`,
                            position: 'is-bottom',
                            type: 'is-success'
                        })
                        if (this.type === '1') {
                            this.expires_in = 60 * (parseInt(this.cantidad) * 60);


                        } else {
                            this.expires_in = this.cantidad * 60;
                        }

                        if (this.expires_in != 0) {
                            this.disabled = true;
                            this.interval = setInterval(() => {
                                this.expires_in -= 1;
                                if (this.expires_in === 0) {
                                    this._restart();

                                    this.$toast.open({
                                        duration: 5000,
                                        message: `Tiempo terminado`,
                                        position: 'is-bottom',
                                        type: 'is-success'
                                    })
                                } else {


                                    this.countdown = moment.utc(this.expires_in * 1000).subtract(1, 'seconds').format('HH:mm:ss');
                                }

                                console.log(this.countdown);
                            }, 1000);
                        }
                    }
                }
            },_restart(){

                clearInterval(this.interval);
                this.cantidad=''
                    this.type=''
                    this.countdown= null
                    this.expires_in= 0
                    this.interval= null
                    this.disabled=false
                    this.validS=false
                    this.validC=false
            }
        }
    }
</script>
